/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #4070f4;
  color: #fff;
}

body {
  padding: 10px;
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}

.wrapper nav {
  display: flex;
  justify-content: center;
}

.wrapper nav .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}

.wrapper nav .items .item {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #4070f4;
  border-radius: 50px;
  border: 2px solid #4070f4;
  transition: all 0.3s linear;
}

.wrapper nav .items .item.active,
.wrapper nav .items .item:hover {
  background: #4070f4;
  color: #fff;
}

.wrapper .gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.wrapper .gallery .image {
  width: calc(100% / 4);
  padding: 7px;
}

.wrapper .gallery .image.hide {
  display: none;
}

.wrapper .gallery .image.show {
  animation: show 0.4s linear;
}

@keyframes show {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.wrapper .gallery .image span {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.wrapper .gallery .image span img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s linear;
}

.wrapper .gallery .image:hover span img {
  transform: scale(1.1);
}

.wrapper .preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 700px;
  width: 100%;
  background: #fff;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  border-radius: 5px;
  padding: 0 5px 5px 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.wrapper .preview-box.show {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.wrapper .preview-box .details .title p {
  font-weight: 500;
  margin-left: 5px;
}

.wrapper .preview-box .details .icon {
  cursor: pointer;
  font-size: 22px;
  color: #4070f4;
}

.wrapper .preview-box .image-box {
  width: 100%;
  display: flex;
}

.wrapper .preview-box .image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

.wrapper .shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.wrapper .shadow.show {
  display: block;
}

@media (max-width: 1000px) {
  .wrapper .gallery .image {
    width: calc(100% / 3);
  }
}

@media (max-width: 800px) {
  .wrapper .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 750px) {
  .wrapper nav .items {
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrapper nav .items .item {
    margin: 5px;
    padding: 7px 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin: 30px auto;
  }

  .wrapper .gallery .image {
    width: 100%;
  }
}
